<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>emoji十六进制编码转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A69F31E01FE6A25E0077ABD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A69F31F41FE6A25E0077ABD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A69F31FF1FE6A25E0077ABD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
